<style type="text/css">
  .qivivoSelect {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: .5em;
  }
  .qivivoSelect::-ms-expand {
      display: none;
  }
</style>

<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout "
      style="width:#width#; height:#height#; background-color:#background-color#; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.75em;position: relative;top:-2px;">#object_name#</span></a></center>

  <center>
    </br>
    <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#set_program_id#" data-version="#version#" data-eqLogic_id="#id#" style="font-size:1.35em;width:100%;box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);" title="#program_collectDate#">
        <i class="divers-today1"></i>
        <strong><select class="selectCmd cursor qivivoSelect" style="border:none;background-color:#background-color#; color:#color#; width: 85%;" data-l2key="graphColor">#set_program_listValue#</select></strong>
    </div>
    <hr style="height:20px; visibility:hidden; padding:0; margin:0">

    <div class="#last_communication_history#" data-cmd_id="#last_communication_id#">
      <i class="nature-leaf37"></i> <strong class="tooltips" style="font-size:12px;">#last_communication#</strong>
    </div>
  </center>

  <script>
    $('select option').filter(function() { return !this.value || $.trim(this.value).length == 0;}).remove();

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'});
      })

    $(".cmd[data-cmd_id=#set_program_id#] .selectCmd").on('change', function () {
      jeedom.cmd.execute({id: '#set_program_id#', value: {select: $(this).value()}});
    })
  </script>
</div>
