<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout "
      style="width:#width#; height:#height#; background-color:#background-color#; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center class="widget-name"><a href="#eqLink#" style="font-size : 1.1em;#hideEqLogicName#">#name_display# <span style="font-size: 0.75em;position: relative;top:-2px;">#object_name#</span></a></center>

  <center>
    <div class="#firmware_history#" data-cmd_id="#firmware_id#">
    </br>
      <i class="fa fa-cog"></i> <strong class="tooltips" title="#firmware_collectDate#">#firmware#</strong>
    </div>

    <div class="#lastmsg_history#" data-cmd_id="#lastmsg_id#">
      <i class="nature-leaf37"></i> <strong class="tooltips" title="#lastpres_collectDate#">#lastmsg#</strong>
    </div>
  </center>

</div>