<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout "
      style="width:#width#; height:#height#; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
  <center class="widget-name">
    <a href="#eqLink#" style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></a>
  </center>

  <div class="verticalAlign">
    <center>
      <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#set_order_id#" data-version="#version#" data-eqLogic_id="#id#" title="#order_collectDate#" style="width:100%!important;">
        <div class="content-xs" style="display: flex;">
          <i class="divers-thermometer31" style="font-size:16px;padding-top:4px;padding-left:5px;width: 20px;"></i>
          <select class="selectCmd" data-l2key="graphColor" style="width:calc(100% - 24px) !important;">#set_order_listValue#</select>
        </div>
      </div>
      <br><br>
      <div class="state #firmware_version_history# cmdName" data-cmd_id="#firmware_version_id#">
        <i class="fa fa-cog"></i> <span class="state" title="#firmware_version_collectDate#">#firmware_version#</span>
      </div>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
      <div class="#last_communication_history# cmdName" data-cmd_id="#last_communication_id#">
        <i class="nature-leaf37"></i>
        #last_communication#
      </div>
    </center>
  </div>

  <script>
    $('div[data-eqLogic_id="#id#"] select option').filter(function() { return !this.value || $.trim(this.value).length == 0;}).remove();

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'});
      })

    $(".cmd[data-cmd_id=#set_order_id#] select").on('change', function () {
      jeedom.cmd.execute({id: '#set_order_id#', value: {select: $(this).value()}});
    })
  </script>
</div>
