<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout #eqLogic_class# #class#"
      style="width:#width#; height:#height#; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-translate-category="#translate_category#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>

  <div class="verticalAlign">
    <center>
      <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#set_order_id#" data-version="#version#" data-eqLogic_id="#id#" title="#order_collectDate#" style="width:100%!important;">
        <div class="content-xs" style="display: flex;">
          <i class="divers-thermometer31" style="font-size:16px;padding-top:4px;padding-left:5px;width: 20px;"></i>
          <select class="selectCmd" data-l2key="graphColor" style="width:calc(100% - 24px) !important;color:initial;">#set_order_listValue#</select>
        </div>
      </div>

      <div class="cmd-widget" data-type="action" style="min-width: 20px;margin-bottom:5px">
        <a class="cmd btn qivivo_temperature_order_cancel" style="background-color:transparent !important; background-image:none !important;margin-left:-10px;opacity: #cancel_opacity#;" data-cmd_id="#cancel_id#"><img src="/plugins/qivivo/core/img/icon_cross_dark.png" title="Cancel" width="24px"></a>
      </div>

      <br>
      <div class="state #firmware_version_history# cmdName" data-cmd_id="#firmware_version_id#">
        <i class="fa fa-cog"></i> <span class="state" title="#firmware_version_collectDate#">#firmware_version#</span>
      </div>

      <div class="#last_communication_history# cmdName" data-cmd_id="#last_communication_id#">
        <i class="nature-leaf37"></i>
        #last_communication#
      </div>
    </center>
  </div>
  #divGraphInfo#
  <script>
    $('div[data-eqLogic_id="#id#"] select option').filter(function() { return !this.value || $.trim(this.value).length == 0;}).remove();

    //change theme event handler for images:
    $('body').on('changeThemeEvent', function (event, theme) {
      var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
      if (theme == 'Light') {
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      } else {
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_dark.png')
      }
    })
    //set icons to light:
    if ($('body')[0].hasAttribute('data-theme')) {
      if ($('body').attr('data-theme').endsWith('Light')) {
        var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      }
    }

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'})
    })

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'})
    });

    $(".cmd[data-cmd_id=#set_order_id#] select").on('change', function () {
      jeedom.cmd.execute({id: '#set_order_id#', value: {select: $(this).value()}})
    })
  </script>
</div>
