<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout "
      style="position: relative; width:#width#; height:#height#; background-color:#background-color#; color:#color#; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
  </span>
  <center class="widget-name">
    <a href="#eqLink#" style="#hideEqLogicName#">#name_display# <span>#object_name#</span></a>
  </center>

  <div class="verticalAlign">
    <center>
      <div>
        <a class="btn btn_temperature_order_down" style="background-color:transparent !important; background-image:none !important" data-cmd_id="#set_plus_one_id#"><img src="/plugins/qivivo/core/img/icon_down.png" title="-1°C" width="24px"></a>
        <span style="position:relative; top:3px;">
          <strong class="state #temperature_order_history#"" data-cmd_id="#temperature_order_id#" title="#temperature_order_collectDate#" style="vertical-align:middle;font-size:1.5em">#temperature_order#</strong> °C
        </span>
        <a class="btn btn_temperature_order_up" style="background-color:transparent !important; background-image:none !important" data-cmd_id="#set_minus_one_id#"><img src="/plugins/qivivo/core/img/icon_up.png" title="+1°C" width="24px"></a>
        <a class="btn btn_temperature_order_cancel" style="background-color:transparent !important; background-image:none !important;margin-left:-10px;" data-cmd_id="#cancel_id#"><img src="/plugins/qivivo/core/img/icon_cross.png" title="Cancel" width="24px"></a>
      </div>

      <div class="#temperature_history#" data-cmd_id="#temperature_id#" title="#temperature_collectDate#">
        Température  <strong class="state">#temperature#</strong> °C
      </div>

      <div class="#humidity_history#" data-cmd_id="#humidity_id#" title="#humidity_collectDate#">
        Humidité  <strong class="state">#humidity#</strong> %
      </div>

      <div class="#presence_history#" data-cmd_id="#presence_id#" title="#presence_collectDate#">
        Presence  <i class="state #pres_class#"></i>
      </div>

      <div>
        <img class="#heating_history#" data-cmd_id="#heating_id#" style="position:absolute; right:0px; bottom:0px;" src="#imgheating#" title="#heating_collectDate#" width="42px">
      </div>

      <div class="cmdName" data-cmd_id="#lastpres_id#">
        <i class="far fa-smile"></i>
        <span title="#lastpres_collectDate#">#lastpres#</span>
      </div>
    </center>
  </div>

  <script type="text/javascript">
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });

    $('.btn_temperature_order_up').on('click', function () {
      jeedom.cmd.execute({id: '#set_plus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) + 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.btn_temperature_order_down').on('click', function () {
      jeedom.cmd.execute({id: '#set_minus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) - 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.btn_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'});
    });
  </script>
</div>
