<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout "
      style="position: relative; width:#width#; height:#height#; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-translate-category="#translate_category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
  </span>
  <center class="widget-name">
    <a href="#eqLink#" style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></a>
  </center>

  <div class="verticalAlign">
    <center>
      <div class="cmd-widget" data-type="action" style="min-width: 20px;margin-bottom:5px">
        <a class="cmd btn qivivo_temperature_order_down" style="background-color:transparent !important; background-image:none !important" data-cmd_id="#set_plus_one_id#"><img src="/plugins/qivivo/core/img/icon_down_dark.png" title="-1°C" width="24px"></a>
      </div>
      <div class="cmd cmd-widget #temperature_order_history#" data-type="info" data-cmd_id="#temperature_order_id#" style="min-width: 20px;">
          <strong class="state"  title="#temperature_order_collectDate#" style="position:relative; top:12px;vertical-align:middle;font-size:1.5em">#temperature_order# °C</strong>
      </div>
      <div class="cmd-widget" data-type="action" style="min-width: 20px;margin-bottom:5px">
        <a class="cmd btn qivivo_temperature_order_up" style="background-color:transparent !important; background-image:none !important" data-cmd_id="#set_minus_one_id#"><img src="/plugins/qivivo/core/img/icon_up_dark.png" title="+1°C" width="24px"></a>
        <a class="cmd btn qivivo_temperature_order_cancel" style="background-color:transparent !important; background-image:none !important;margin-left:-10px;opacity: #cancel_opacity#;" data-cmd_id="#cancel_id#"><img src="/plugins/qivivo/core/img/icon_cross_dark.png" title="Cancel" width="24px"></a>
      </div>

      <hr style="height:7px; visibility:hidden; padding:0; margin:0">
      <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#set_program_id#" data-version="#version#" data-eqLogic_id="#id#" title="#order_collectDate#" style="width:100%!important;">
        <div class="content-xs" style="display: flex;">
          <i class="divers-today1" style="font-size:20px;padding-top:1px;padding-left:5px;width: 20px;"></i>
          <select class="selectCmd" data-l2key="graphColor" style="width:calc(100% - 24px) !important;color:initial;">#set_program_listValue#</select>
        </div>
      </div>

      <div class="cmd cmd-widget #temperature_history#" data-type="info" data-cmd_id="#temperature_id#" title="#temperature_collectDate#" style="line-height:16px;display:block;">
        <span>#temperature_name#  <strong class="state">#temperature#</strong> °C</span>
      </div>

      <div class="cmd cmd-widget #humidity_history#" data-type="info" data-cmd_id="#humidity_id#" title="#humidity_collectDate#" style="line-height:16px;display:block;">
        <span>#humidity_name#  <strong class="state">#humidity#</strong> %</span>
      </div>

      <div class="cmd cmd-widget #heating_history#" data-type="info" data-cmd_id="#heating_id#" style="position:absolute; right:0px; bottom:0px;">
        <img class="#heating_history#" data-cmd_id="#heating_id#" src="#imgheating#" title="#heating_collectDate#" width="42px">
      </div>

      <div class="cmdName" data-cmd_id="#lastpres_id#">
        <i class="far fa-smile"></i>
        <span title="#lastpres_collectDate#">#lastpres#</span>
      </div>
    </center>
  </div>

  <script type="text/javascript">
    $('div[data-eqLogic_id="#id#"] select option').filter(function() { return !this.value || $.trim(this.value).length == 0;}).remove();

    //change theme event handler for images:
    $('body').on('changeThemeEvent', function (event, theme) {
      var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
      if (theme == 'Light') {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      } else {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_dark.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_dark.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_dark.png')
      }
    })
    //set icons to light:
    if ($('body')[0].hasAttribute('data-theme')) {
      if ($('body').attr('data-theme').endsWith('Light')) {
        var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      }
    }

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'})
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_up').on('click', function () {
      jeedom.cmd.execute({id: '#set_plus_one_id#'})
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) + 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_down').on('click', function () {
      jeedom.cmd.execute({id: '#set_minus_one_id#'})
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) - 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'})
    });

    $(".cmd[data-cmd_id=#set_program_id#] select").on('change', function () {
      jeedom.cmd.execute({id: '#set_program_id#', value: {select: $(this).value()}})
    })
  </script>
</div>
