<div class="eqLogic eqLogic-widget allowResize allowReorderCmd allowLayout #eqLogic_class# #class#"
      style="position: relative; width:#width#; height:#height#; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-translate-category="#translate_category#">
  <center class="widget-name">
    <span class="warning" title="#alert_name#">
      <i class='#alert_icon#'></i>
    </span>
    <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
      <i class="fas fa-sync"></i>
    </span>
    <span class="reportModeVisible">#name_display# <span class="object_name">#object_name#</span></span>
    <a href="#eqLink#" class="reportModeHidden">#name_display# <span class="object_name">#object_name#</span></a>
  </center>

  <div class="verticalAlign">
    <center>
      <div class="cmd-widget" data-type="action" style="min-width: 20px;margin-bottom:5px;">
        <a class="cmd btn qivivo_temperature_order_down" style="background-color:transparent !important; background-image:none !important" data-cmd_id="#set_plus_one_id#"><img src="/plugins/qivivo/core/img/icon_down_dark.png" title="-1°C" width="24px"></a>
      </div>
      <div class="cmd cmd-widget #temperature_order_history#" data-type="info" data-cmd_id="#temperature_order_id#" style="min-width: 20px;">
          <strong class="state"  title="#temperature_order_collectDate#" style="position:relative; top:12px;vertical-align:middle;font-size:1.5em">#temperature_order# °C</strong>
      </div>
      <div class="cmd-widget" data-type="action" style="min-width: 20px;margin-bottom:5px;display: inline;">
        <a class="cmd btn qivivo_temperature_order_up" style="background-color:transparent !important; background-image:none !important" data-cmd_id="#set_minus_one_id#"><img src="/plugins/qivivo/core/img/icon_up_dark.png" title="+1°C" width="24px"></a>
        <a class="cmd btn qivivo_temperature_order_cancel" style="background-color:transparent !important; background-image:none !important;margin-left:-10px;opacity: #cancel_opacity#;" data-cmd_id="#cancel_id#"><img src="/plugins/qivivo/core/img/icon_cross_dark.png" title="Cancel" width="24px"></a>
      </div>

      <hr style="height:7px; visibility:hidden; padding:0; margin:0">
      <div class="cmd cmd-widget reportModeHidden" data-type="action" data-subtype="select" data-cmd_id="#set_program_id#" data-version="#version#" data-eqLogic_id="#id#" title="#program_collectDate#" style="width:100%!important;">
        <div class="content-xs" style="display: flex !important;width:100%">
          <i class="divers-today1" style="font-size:20px;padding-top:1px;padding-left:5px;width: 20px;"></i>
          <select class="selectCmd" data-l2key="graphColor" style="width:calc(100% - 24px) !important;color:initial;">#set_program_listValue#</select>
        </div>
      </div>

      <div class="cmd cmd-widget #temperature_history#" data-type="info" data-cmd_id="#temperature_id#" title="#temperature_collectDate#" style="line-height:16px;display:block;">
        <div class="cmdName">#temperature_name#  <strong class="state">#temperature#</strong> °C</div>
      </div>

      <div class="cmd cmd-widget #humidity_history#" data-type="info" data-cmd_id="#humidity_id#" title="#humidity_collectDate#" style="line-height:16px;display:block;">
        <div class="cmdName">#humidity_name#  <strong class="state">#humidity#</strong> %</div>
      </div>

      <div class="cmd cmd-widget #heating_history#" data-type="info" data-cmd_id="#heating_id#" style="position:absolute; right:-20px; bottom:0px;">
        <img class="#heating_history#" data-cmd_id="#heating_id#" src="#imgheating#" title="#heating_collectDate#" width="42px">
      </div>

      <div class="cmdName" data-cmd_id="#lastpres_id#">
        <i class="far fa-smile"></i>
        <span title="#lastpres_collectDate#">#lastpres#</span>
      </div>
    </center>
  </div>

  <div class="form-group thermoOrder shadowed" style="display:none; position:absolute; top:0; left:5px; right:5px; padding:10px; background-color: rgb(var(--eq-bg-color));">
    <center>
      <span>#order_name# </span> <input type="number" class="inputOrder ui-spinner ispin" size="3" min="0" max="40" step="0.5"> °C<br>
      <span>#during_name# </span>
       <input type="number" class="inputHour ui-spinner ispin" size="2" min="0" max="72" step="1" value="2"> h
       <input type="number" class="inputMinute ui-spinner ispin" size="2" min="0" max="60" step="1" value="0"> min<br>
      <a class="btn btn-xs bt_thermoOrderCancel">Cancel</a> <a class="btn btn-xs bt_thermoOrderOk">OK</a>
    </center>
  </div>
  #divGraphInfo#
  <script type="text/javascript">
    jeedomUtils.initSpinners()

    document.querySelectorAll('div[data-eqLogic_id="#id#"] select > option').forEach(_opt => {
      if (!_opt.hasAttribute('value') || _opt.value.trim() == '') _opt.remove()
    })

    //change theme event handler for images:
    if (typeof jQuery === 'function') {
      $('body').on('changeThemeEvent', changeThemeEvent#uid#)
    } else {
      document.body.addEventListener('changeThemeEvent', changeThemeEvent#uid#)
    }

    function changeThemeEvent#uid#() {
      var eqlogic = document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"]')
      if (document.body.getAttribute('data-theme').endsWith('Light')) {
        eqlogic.querySelector('.qivivo_temperature_order_down > img').setAttribute('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.querySelector('.qivivo_temperature_order_up > img').setAttribute('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.querySelector('.qivivo_temperature_order_cancel > img').setAttribute('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      } else {
        eqlogic.querySelector('.qivivo_temperature_order_down > img').setAttribute('src', '/plugins/qivivo/core/img/icon_down_dark.png')
        eqlogic.querySelector('.qivivo_temperature_order_up > img').setAttribute('src', '/plugins/qivivo/core/img/icon_up_dark.png')
        eqlogic.querySelector('.qivivo_temperature_order_cancel > img').setAttribute('src', '/plugins/qivivo/core/img/icon_cross_dark.png')
      }
    }
    //set icons to light:
    if (document.body.getAttribute('data-theme').endsWith('Light')) {
      var eqlogic = document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"]')
      eqlogic.querySelector('.qivivo_temperature_order_down > img').setAttribute('src', '/plugins/qivivo/core/img/icon_down_light.png')
      eqlogic.querySelector('.qivivo_temperature_order_up > img').setAttribute('src', '/plugins/qivivo/core/img/icon_up_light.png')
      eqlogic.querySelector('.qivivo_temperature_order_cancel > img').setAttribute('src', '/plugins/qivivo/core/img/icon_cross_light.png')
    }

    document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .refresh').addEventListener('click', function(event) {
      jeedom.cmd.execute({id: '#refresh_id#'})
    })

    document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .qivivo_temperature_order_up').addEventListener('click', function(event) {
      var temp = document.querySelector('div[data-cmd_id="#temperature_order_id#"] .state').innerHTML
      var dialog = document.querySelector('div[data-eqLogic_id="#id#"] .thermoOrder')
      dialog.querySelector('.inputOrder').value = parseFloat(temp) + 1
      dialog.style.display = 'block'
    })

    document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .qivivo_temperature_order_down').addEventListener('click', function(event) {
      var temp = document.querySelector('div[data-cmd_id="#temperature_order_id#"] .state').innerHTML
      var dialog = document.querySelector('div[data-eqLogic_id="#id#"] .thermoOrder')
      dialog.querySelector('.inputOrder').value = parseFloat(temp) - 1
      dialog.style.display = 'block'
    })

    document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .qivivo_temperature_order_cancel').addEventListener('click', function(event) {
      jeedom.cmd.execute({id: '#cancel_id#'})
    })

    document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .bt_thermoOrderCancel').addEventListener('click', function(event) {
      document.querySelector('div[data-eqLogic_id="#id#"] .thermoOrder').style.display = 'none'
    })
    document.querySelector('.eqLogic[data-eqLogic_uid="#uid#"] .bt_thermoOrderOk').addEventListener('click', function(event) {
      var dialog = document.querySelector('div[data-eqLogic_id="#id#"] .thermoOrder')
      var order = dialog.querySelector('.inputOrder').value
      var hours = dialog.querySelector('.inputHour').value
      var minutes = dialog.querySelector('.inputMinute').value
      minutes = parseInt(minutes) + (parseInt(hours)*60)

      jeedom.cmd.execute({id: '#set_plus_one_id#', value: {order, minutes}})

      document.querySelector('div[data-eqLogic_id="#id#"] .thermoOrder').style.display = 'none'
    })

    document.querySelector('.cmd[data-cmd_id="#set_program_id#"] select.selectCmd').addEventListener('change', function(event) {
      jeedom.cmd.execute({id: '#set_program_id#', value: {select: event.target.value}})
    })
  </script>
</div>
