<div class="eqLogic eqLogic-widget"
      style="background-color:#background-color#; color:#color#;#style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
  </span>
  <center class="widget-name" style="#hideEqLogicName#">#name_display#</center>

  <center>
    <div class="#firmware_version_history#" data-cmd_id="#firmware_version_id#">
    </br>
      <i class="fa fa-cog"></i> <strong class="state" title="#firmware_version_collectDate#">#firmware_version#</strong>
    </div>

    <div class="#last_communication_history#" data-cmd_id="#last_communication_id#">
      <i class="nature-leaf37"></i>
      #last_communication#
    </div>
  </center>

</div>
