<div class="eqLogic eqLogic-widget #eqLogic_class# #class#"
      style="min-height:120px !important; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-translate-category="#translate_category#">
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
  <center>
    <span class="widget-name">
      <span class="warning" title="#alert_name#">
        <i class='#alert_icon#'></i>
      </span>
      <span>#name_display# <span class="object_name">#object_name#</span></span><br/>
    </span>
  </center>

  <center>
    </br>
    <div class="#firmware_version_history#" data-cmd_id="#firmware_version_id#">
      <i class="fa fa-cog"></i> <strong class="state" title="#firmware_version_collectDate#">#firmware_version#</strong>
    </div>
    <div data-cmd_id="#last_communication_id#">
      <i class="nature-leaf37"></i>
      #last_communication#
    </div>
  </center>

  <script>
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
        jeedom.cmd.execute({id: '#refresh_id#'});
      })
  </script>
</div>