<div class="eqLogic eqLogic-widget"
      style="width:#width#; height:#height#; background-color:#background-color#; color:#color#; border:#border#; border-radius:#border-radius#;#style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#">
  <span class="statusCmd" style="position : absolute;left : 5px; width : 30px;z-index: 1030;"></span>
  <i class='fa fa-refresh pull-right cursor refresh' style="margin-top: 3px;margin-right: 3px;"></i>
  <span class="cmd cmd-widget" data-cmd_id="#refresh_id#" style="display:none;"></span>
  <center class="widget-name" style="#hideEqLogicName#">#name_display# <span style="font-size: 0.85em;position: relative;top:-2px;">#object_name#</span></center>

  <center>
    <div class="#order_history#" data-cmd_id="#order_id#">
    </br>
      <i class="divers-thermometer31"></i> <strong class="tooltips" title="#order_collectDate#">#order#</strong>
    </div>

    <div class="#lastmsg_history#" data-cmd_id="#lastmsg_id#">
    </br>
      <i class="nature-leaf37"></i> <strong class="tooltips" title="#lastpres_collectDate#">#lastmsg#</strong>
    </div>
  </center>

</div>