<div class="eqLogic eqLogic-widget #eqLogic_class# #class#"
      style="position: relative; min-height:150px !important; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-translate-category="#translate_category#">
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
  <center>
    <span class="widget-name">
      <span class="warning" title="#alert_name#">
        <i class='#alert_icon#'></i>
      </span>
      <span>#name_display# <span class="object_name">#object_name#</span></span><br/>
    </span>
  </center>
  <center>
    <div>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
      <a href="#thermoOrder#id#" data-rel="popup" class="cmd btn qivivo_temperature_order_down cursor" data-cmd_id="#set_plus_one_id#"><img src="/plugins/qivivo/core/img/icon_down_dark.png" title="-1°C" width="26px" style="vertical-align:middle;"></a>
      <strong class="cmd state #temperature_order_history# #history#" data-type="info" data-cmd_id="#temperature_order_id#" title="#temperature_order_collectDate#" style="vertical-align:middle;font-size:1.5em!important">#temperature_order#</strong> °C
      <a href="#thermoOrder#id#" data-rel="popup" class="cmd btn qivivo_temperature_order_up cursor" data-cmd_id="#set_minus_one_id#"><img src="/plugins/qivivo/core/img/icon_up_dark.png" title="+1°C" width="26px" style="vertical-align:middle;"></a>
      <a class="cmd btn qivivo_temperature_order_cancel cursor" data-cmd_id="#cancel_id#" style="margin-left:5px;opacity: #cancel_opacity#;"><img src="/plugins/qivivo/core/img/icon_cross_dark.png" title="Cancel" width="26px" style="vertical-align:middle;"></a>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
    </div>

    <span class="cmd cmd-widget" data-type="action" data-subtype="select" data-cmd_id="#set_program_id#" data-version="#version#" data-eqLogic_id="#id#">
        <i class="divers-today1" style="font-size:20px;padding-top: 18px;padding-left: 5px;float: left;"></i>
        <select>#set_program_listValue#</select>
    </span>

    <div>
      <span class="cmdName">#temperature_name#  </span>  <strong class="cmd state #history#" data-type="info" data-cmd_id="#temperature_id#">#temperature#</strong> °C
    </div>

    <div>
      <span class="cmdName">#humidity_name#  </span>  <strong class="cmd state #history#" data-type="info" data-cmd_id="#humidity_id#">#humidity#</strong> %
    </div>

    <div>
      <img style="position:absolute; right:0px; bottom:6px;" src="#imgheating#" title="Chauffage" width="42px">
    </div>

    <div data-cmd_id="#lastpres_id#">
    </br>
      <i class="far fa-smile"></i>
      #lastpres#
    </div>
  </center>

  <div data-enhance="false" data-role="popup" id="thermoOrder#id#" style="padding: 10px; background-color: rgb(var(--eq-bg-color))!important;">
    #order_name# <input data-role="none" type="number" class="inputOrder" size="3" min="0" max="40" step="0.5" style="width: 50px;" value="#temperature_order#"> °C
    <br><br>
    #during_name#
      <input data-role="none" type="number" class="inputHour" size="2" min="0" max="72" step="1" value="2" style="width: 50px;"> h
      <input data-role="none" type="number" class="inputMinute" size="2" min="0" max="60" step="1" value="0" style="width: 50px;"> min<br>
    <br>
    <center><a class="ui-btn ui-mini ui-btn-inline bt_thermoOrderCancel">Cancel</a> <a class="ui-btn ui-mini ui-btn-inline bt_thermoOrderOk">OK</a></center>
  </div>
  #divGraphInfo#
  <script type="text/javascript">
    //change theme event handler for images:
    $('body').on('changeThemeEvent', function (event, theme) {
      var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
      if (theme == 'Light') {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      } else {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_dark.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_dark.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_dark.png')
      }
    })
    //set icons to light:
    if ($('body')[0].hasAttribute('data-theme')) {
      if ($('body').attr('data-theme').endsWith('Light')) {
        var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      }
    }

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    })

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'})
    })

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_up').on('click', function () {
      var temp = $("[data-cmd_id='#temperature_order_id#']").html()
      $('#thermoOrder#id#').find('.inputOrder').val(parseFloat(temp) + 1)
    })

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_down').on('click', function () {
      var temp = $("[data-cmd_id='#temperature_order_id#']").html()
      $('#thermoOrder#id#').find('.inputOrder').val(parseFloat(temp) - 1)
    })
    $('#thermoOrder#id# .bt_thermoOrderCancel').on('click', function () {
      $('#thermoOrder#id#').popup('close')
    })
    $('#thermoOrder#id# .bt_thermoOrderOk').on('click', function () {
      var dialog = $('#thermoOrder#id#')
      var order = dialog.find('.inputOrder').val()
      var hours = dialog.find('.inputHour').val()
      var minutes = dialog.find('.inputMinute').val()
      minutes = parseInt(minutes) + (parseInt(hours)*60)
      jeedom.cmd.execute({id: '#set_plus_one_id#', value: {order, minutes}})
      $('#thermoOrder#id#').popup('close')
    })

    $(".cmd[data-cmd_id=#set_program_id#] select").on('change', function () {
      jeedom.cmd.execute({id: '#set_program_id#', value: {select: $(this).value()}});
    })
  </script>
</div>
