<div class="eqLogic eqLogic-widget"
      style="position: relative; min-height:150px !important; #style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#" data-translate-category="#translate_category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
    <i class="fas fa-sync"></i>
  </span>
  <center class="widget-name" style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></center>
  <center>
    <div>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
      <a class="cmd btn qivivo_temperature_order_down cursor" data-cmd_id="#set_plus_one_id#"><img src="/plugins/qivivo/core/img/icon_down_dark.png" title="-1°C" width="26px" style="vertical-align:middle;"></a>
      <strong class="cmd state #temperature_order_history# #history#" data-type="info" data-cmd_id="#temperature_order_id#" title="#temperature_order_collectDate#" style="vertical-align:middle;font-size:1.5em!important">#temperature_order#</strong> °C
      <a class="cmd btn qivivo_temperature_order_up cursor" data-cmd_id="#set_minus_one_id#"><img src="/plugins/qivivo/core/img/icon_up_dark.png" title="+1°C" width="26px" style="vertical-align:middle;"></a>
      <a class="cmd btn qivivo_temperature_order_cancel cursor" data-cmd_id="#cancel_id#" style="margin-left:5px;opacity: #cancel_opacity#;"><img src="/plugins/qivivo/core/img/icon_cross_dark.png" title="Cancel" width="26px" style="vertical-align:middle;"></a>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
    </div>

    <span class="cmd cmd-widget" data-type="action" data-subtype="select" data-cmd_id="#set_program_id#" data-version="#version#" data-eqLogic_id="#id#">
        <i class="divers-today1" style="font-size:20px;padding-top: 18px;padding-left: 5px;float: left;"></i>
        <select>#set_program_listValue#</select>
    </span>

    <div>
      <span class="cmdName">#temperature_name#  </span>  <strong class="cmd state #history#" data-type="info" data-cmd_id="#temperature_id#">#temperature#</strong> °C
    </div>

    <div>
      <span class="cmdName">#humidity_name#  </span>  <strong class="cmd state #history#" data-type="info" data-cmd_id="#humidity_id#">#humidity#</strong> %
    </div>

    <div>
      <img style="position:absolute; right:0px; bottom:6px;" src="#imgheating#" title="Chauffage" width="42px">
    </div>

    <div data-cmd_id="#lastpres_id#">
    </br>
      <i class="far fa-smile"></i>
      #lastpres#
    </div>
  </center>

  <script type="text/javascript">
    //change theme event handler for images:
    $('body').on('changeThemeEvent', function (event, theme) {
      var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
      if (theme == 'Light') {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      } else {
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_dark.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_dark.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_dark.png')
      }
    })
    //set icons to light:
    if ($('body')[0].hasAttribute('data-theme')) {
      if ($('body').attr('data-theme').endsWith('Light')) {
        var eqlogic = $('.eqLogic[data-eqLogic_uid=#uid#]')
        eqlogic.find('.qivivo_temperature_order_down > img').attr('src', '/plugins/qivivo/core/img/icon_down_light.png')
        eqlogic.find('.qivivo_temperature_order_up > img').attr('src', '/plugins/qivivo/core/img/icon_up_light.png')
        eqlogic.find('.qivivo_temperature_order_cancel > img').attr('src', '/plugins/qivivo/core/img/icon_cross_light.png')
      }
    }

    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_up').on('click', function () {
      jeedom.cmd.execute({id: '#set_plus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) + 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_down').on('click', function () {
      jeedom.cmd.execute({id: '#set_minus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) - 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.eqLogic[data-eqLogic_uid=#uid#] .qivivo_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'});
    });

    $(".cmd[data-cmd_id=#set_program_id#] select").on('change', function () {
      jeedom.cmd.execute({id: '#set_program_id#', value: {select: $(this).value()}});
    })
  </script>
</div>
