<div class="eqLogic eqLogic-widget"
      style="position: relative; min-height:150px !important; background-color:#background-color#; color:#color#;#style#"
      data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-category="#category#">
  <span class="statusCmd"></span>
  <span class="cmd refresh pull-right cursor" data-cmd_id="#refresh_id#">
		<i class="fas fa-sync"></i>
  </span>
  <center class="widget-name" style="#hideEqLogicName#">#name_display#</center>
  <center>
    <div>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
      <a class="btn btn_temperature_order_down cursor" data-cmd_id="#set_plus_one_id#"><img src="/plugins/qivivo/core/img/icon_down.png" title="-1°C" width="26px" style="vertical-align:middle;"></a>
      <strong class="state #temperature_order_history#" data-cmd_id="#temperature_order_id#" title="#temperature_order_collectDate#" style="vertical-align:middle;font-size:1.5em">#temperature_order#</strong> °C
      <a class="btn btn_temperature_order_up cursor" data-cmd_id="#set_minus_one_id#"><img src="/plugins/qivivo/core/img/icon_up.png" title="+1°C" width="26px" style="vertical-align:middle;""></a>
      <a class="btn btn_temperature_order_cancel cursor" data-cmd_id="#cancel_id#" style="margin-left:5px;"><img src="/plugins/qivivo/core/img/icon_cross.png" title="Cancel" width="26px" style="vertical-align:middle;"></a>
      <hr style="height:5px; visibility:hidden; padding:0; margin:0">
    </div>

    <div data-cmd_id="#temperature_id#">
      <span class="cmdName">Température</span>  <strong class="state">#temperature#</strong> °C
    </div>

    <div data-cmd_id="#humidity_id#">
      <span class="cmdName">Humidité</span>  <strong class="state">#humidity#</strong> %
    </div>

    <div data-cmd_id="#presence_id#">
      <span class="cmdName">Presence</span>  <i class="state #pres_class#"></i>
    </div>

    <div>
      <img style="position:absolute; right:0px; bottom:6px;" src="#imgheating#" title="Chauffage" width="42px">
    </div>

    <div data-cmd_id="#lastpres_id#">
    </br>
      <i class="far fa-smile"></i>
      #lastpres#
    </div>
  </center>

  <script type="text/javascript">
    $('.eqLogic[data-eqLogic_uid=#uid#] .refresh').on('click', function () {
      jeedom.cmd.execute({id: '#refresh_id#'});
    });

    $('.btn_temperature_order_up').on('click', function () {
      jeedom.cmd.execute({id: '#set_plus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) + 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.btn_temperature_order_down').on('click', function () {
      jeedom.cmd.execute({id: '#set_minus_one_id#'});
      temp = $(".state[data-cmd_id='#temperature_order_id#']").html()
      newTemp = parseFloat(temp) - 1
      $(".state[data-cmd_id='#temperature_order_id#']").html(newTemp)
    });

    $('.btn_temperature_order_cancel').on('click', function () {
      jeedom.cmd.execute({id: '#cancel_id#'});
    });
  </script>
</div>
